@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(229 231 235);
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #0d0f12;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

/* Define a cor do "trilho" (background da scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Define a cor da "alça" (thumb da scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #2895e6;
}

/* Define a cor da "alça" (thumb da scrollbar) quando passar o mouse por cima */
::-webkit-scrollbar-thumb:hover {
  background-color: #246197;
}
